.footer-banner
  ._demo--container.footer-container
    .footer-title This is a simple Visual Recognition Test, built with few images...
    .footer-tagline We are working on to improve the service.
    a.base--a.bottom-links(href='https://www.ibm.com/watson/developercloud/visual-recognition/api/v3/', target='_blank') API Reference
    a.base--a.bottom-links(href='http://www.ibm.com/watson/developercloud/doc/visual-recognition/', target='_blank') Documentation
   