div._demo--container
  include ../mixins/sampleInput.jade

  h2.base--h2.use--header Try the service
<<<<<<< HEAD
  div Choose a sample image or upload your own image to try out Disease Symptom Visual Recognition. As far the application is able to distingue only two classes of pathologies: Cercorspora and Spilocaea oleaginea.
=======
  div Choose a sample image or upload your own image to try out Disease Symptom Visual Recognition. As far the application is able to distingue only two classes of pathologies: Cercorspora and Spilocaea oleaginea...Stay tuned!!!
>>>>>>> 094001888395732e8dbdd6c00ab3e03ac7775f41
  +sampleInput('use')

  .loading.use--loading.display-none
    .loader-container
      svg.loader(viewBox='25 25 50 50')
        circle.loader__path(cx='50', cy='50', r='20')
    p.base--p.use--loading-message.loading--message Watson is classifying the image to determine a match...
  .error.use--error.display-none
    img.use--error-image.error--image(src='images/icons/alert.svg')
    p.base--p.use--error-message.error--message Visual Recognition is not available right now...
  .use--output.display-none
    h2.base--h2.use--output-header Watson sees...
    .use--output-row
      .use--output-image-container
        img.use--output-image
      #box.boxes
      .use--output-data
