{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "oreste.marinelli@it.ibm.com",
      "Space": "dev"
    },
    "Name": "plantDiseaseSymptoms-vr-demo",
    "Instrumentation": {
      "host": "plantdiseasesymptoms-vr-demo",
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}